.mainPage{  
    height :200px;
    width: 100%;
    background: url("https://ik.imagekit.io/amazon360/amazon-image/amazon-image/primeday.jpg?updatedAt=1683443607679");
    background-size: 100vw;
    display: flex;
}
body{
    background-color: rgb(236, 236, 64);
}